%h3
  Privacy

%p
  Totem gathers certain information in the course of using the app:
%ul
  %li
    username and password, used to associated data with your account
  %li
    location, used to look up interesting totems nearby
%p
  This data is kept strictly confidential.

%pre
  modified: Thu Apr  7 08:33:43 CDT 2016
