# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fc625399171899d8d8b9e30ef6d81ed90548b633206b5e63fa03a88e12124b6a7ecdbbf6e00a538cbe5655430560a70daec5593cda66b68a3a4249f0b4789f59

test:
  secret_key_base: 8268bedb0520a8bf75e6859db2f46c4ff70235120324e227b46f9edf762eb67811ad12d7434fb22c3e086da5b246e3cc0c7ea3eb287bc64a825ce5cfdfa0aa3d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
